<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Animation</key>
	<dict>
		<key>animation-style</key>
		<integer>1</integer>
		<key>animation-direction</key>
		<integer>1</integer>
		<key>animation-duration</key>
		<integer>1</integer>
	</dict>
	<key>SideNavigation</key>
	<dict>
		<key>menu-items-array</key>
		<array>
			<dict>
				<key>item-bg</key>
				<string>menu-1-normal.png</string>
				<key>item-selected-bg</key>
				<string>menu-1.png</string>
			</dict>
			<dict>
				<key>item-bg</key>
				<string>menu-2-normal.png</string>
				<key>item-selected-bg</key>
				<string>menu-2.png</string>
			</dict>
		</array>
		<key>menu-offset</key>
		<integer>100</integer>
	</dict>
</dict>
</plist>
